.footer {
  background-color: #222;
  padding: 20px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-links h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-form form {
  display: flex;
  flex-direction: column;
  width: 120%;
}

.footer-form h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-form label {
  color: #fff;
  margin-bottom: 5px;
}

.footer-form input,
.footer-form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
}

.footer-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #222;
  cursor: pointer;
}

.footer-form .error-message,
.footer-form .success-message {
  color: #ff0000;
  margin-bottom: 20px;
}

.footer-copyright {
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

.footer-copyright p {
  margin: 0;
}