.ProductDisplay {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  padding: 20px;
}

.ProductItem {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  flex: 1; 
  min-width: 200px; 
}

.ProductItem img {
  max-height: 200px;
  height: auto;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
}

.ProductItem:hover img {
  transform: scale(1.4); /* Enlarge the image on hover */
}

.ProductItem h2,
.ProductItem p {
  margin: 10px 0;
}
  
/* Responsive styles */
@media (max-width: 768px) {
  .ProductDisplay {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .ProductItem {
    flex: 1 0 100%; /* Make the items stack on top of each other */
  }
}


  
  